<header class="header" role="banner">
    <h1 class="logo">
        <a href="#"><span>Geveo</span> Recruitments</a>
    </h1>
    <!-- <div class="avatar">
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" />
        <img src="/images/Resh.jpg" />

        <h2>{{name}}</h2>
    </div> -->

    <div class="nav-wrap">
        <nav class="main-nav" role="navigation">
            <ul class="unstyled list-hover-slide">
                <li>
                    <a routerLink="/Geveo/Dashboard">Home</a>
                </li>
                <li>
                    <a routerLink="/Geveo/JobPosts">Job Posts</a>
                </li>
                <li>
                    <a routerLink="/Geveo/PositionList">Job Positions</a>
                </li>
                <li>
                    <a routerLink="/Geveo/NewPost">Add New Post</a>
                </li>
                <li>
                    <a routerLink="/Geveo/NewPosition">Add New Position</a>
                </li>
            </ul>
        </nav>
    </div>
</header>