<div class="page">
    <nav class="menu">
        <ul class="menu__list">

            <li><a routerLink="Geveo/NewPosition" class="menu__link"> New Position</a></li>
            <li><a routerLink="Geveo/NewPost" class="menu__link"> New Post</a></li>
            <li><a routerLink="Geveo/Dashboard" class="menu__link"> Dashboard</a></li>
            <li><a routerLink="Geveo/Home" class="menu__link">Home</a></li>
            <li><a routerLink="Geveo/JobPosts" class="menu__link"> Job Posts</a></li>
            <li><a routerLink="Geveo/PositionList" class="menu__link"> Job Positions</a></li>
        </ul>
    </nav>
</div>